.oneButtonArea {
    float: right;
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.oneButtonIcon {
    float: right;
    width: 100%;
    height: 2em;
    background-color: #e5ddd5;
    border: 2px solid white;
    box-sizing: border-box;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    color: #003366;
    font-size: 3em;
    padding-top: 0.2em;
    text-align: right;
    cursor: pointer;
}
.oneIcon {
    float: right;
    margin-top: -10px;
    margin-right: 10px;
    margin-left: 20px;
}
.icon {
    height: 92px;
    width: 83px;
}